In [1]:
#Write a code to create a string with your name and print it
string="Ritesh"
print(f"My name is {string}")

My name is Ritesh

In [2]:
#Write a code to find the length of the string "Hello World"
string="Hello World"
len(string)

11

In [5]:
#Write a code to slice the first 3 characters from the string "Python Programming"
string="Python Programming"
string[0:3]

'Pyt'

In [6]:
#Write a code to convert the string "hello" to uppercase
string="hello"
string.upper()

'HELLO'

In [9]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"
string="I like apple"
string.replace('apple','orange')

'I like orange'

In [10]:
#Write a code to create a list with numbers 1 to 5 and print it
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [11]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [12]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list=[1,2,3,4]
list.remove(3)
print(list)

[1, 2, 4]

In [15]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list=['a', 'b', 'c', 'd']
second_element=list[1]
print(second_element)

b

In [14]:
#Write a code to reverse the list [10, 20, 30, 40, 50]
lst=[10,20,30,40,50]
lst[::-1]

[50, 40, 30, 20, 10]

In [15]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it
tup=(100,200,300)
print(tup)

(100, 200, 300)

In [17]:
#Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tup=('red','green','blue','yellow')
tup[1:]

('green', 'blue', 'yellow')

In [19]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15)
tup=(10,20,5,15)
min(tup)

5

In [22]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tup=('dog','cat','rabbit')
tup.index('cat')

1

In [25]:
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
tup=('mango','kiwi','orange')
if 'kiwi' in tup:
    print('Kiwi is present')
else:
    print('Kiwi is not present')

Kiwi is present

In [26]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it
s={'a','b','c'}
print(s)

{'a', 'b', 'c'}

In [28]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}
s={1,2,3,4,5}
s.clear()
print(s)

set()

In [30]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}
set={1,2,3,4}
set.discard(4)
print(set)

{1, 2, 3}

In [32]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
s1={1,2,3}
s2={3,4,5}
union=s1 | s2
print(union)

{1, 2, 3, 4, 5}

In [34]:
#Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
s1={1,2,3}
s2={2,3,4}
intersection=s1 & s2
print(intersection)

{2, 3}

In [35]:
#Write a code to create a dictionary with the keys "name", "age", and "city", and print it
dic={'name':'Ram','age':19,'city':'Ayodhya'}
print(dic)

{'name': 'Ram', 'age': 19, 'city': 'Ayodhya'}

In [36]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
dic={'name':'John','age':25}
dic['country']="USA"
print(dic)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [37]:
#Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
dic={'name':'Alice','age':30}
name=dic['name']
print(name)

Alice

In [41]:
#Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
dic={'name':'Bob','age':22,'city':'New York'}
del dic['age']
print(dic)

{'name': 'Bob', 'city': 'New York'}

In [43]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
dic={'name':'Alic','city':'Paris'}
if 'city' in dic:
    print("City exist in the dictionary")
else:
    print("City is empty in dictionary")

City exist in the dictionary

In [49]:
#Write a code to create a list, a tuple, and a dictionary, and print them all
book_list=['Php','Data structure','Python','Java']
print(f"List: {book_list}")

book_price=(100,200,300,400)
print(f"Tuple: {book_price}")

book_price={'Php':100,'Data structure':200,'Python':300,'Java':400}
print(f"Dictionary: {book_price}")

List: ['Php', 'Data structure', 'Python', 'Java']
Tuple: (100, 200, 300, 400)
Dictionary: {'Php': 100, 'Data structure': 200, 'Python': 300, 'Java': 400}

In [58]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
import random

#creating a list of 5 random numbers from 1 to 100
random_list=[random.randint(1,100) for _ in range(5)]

#Before sorting
print(f"Before sorting: {random_list}")

#sorting numbers in ascending order
random_list.sort()

#printing the sorted list
print(f"After sorting: {random_list}")

Before sorting: [1, 20, 7, 9, 56]
After sorting: [1, 7, 9, 20, 56]

In [59]:
#Write a code to create a list with strings and print the element at the third index
lst=['Ajay','Sanjay','Ronak','Sujal','Hariom','Badal']
third_index_element=lst[3]
print(third_index_element)

Sujal

In [18]:
#Write a code to combine two dictionaries into one and print the result
dic1={'name':'Ronak','age':19}
dic2={'city':'Mumbai','contact':123492}
combined_dic2=dic1 | dic2
print(combined_dic2)

{'name': 'Ronak', 'age': 19, 'city': 'Mumbai', 'contact': 123492}

In [15]:
#Write a code to convert a list of strings into a set
lst=['Orange','Pen','Mango','Bottle']
conversion_into_set=set(lst)
print(conversion_into_set)

{'Orange', 'Pen', 'Bottle', 'Mango'}